In [ ]:
from orion import Orion
import pandas as pd
import shutil
import os
import csv
from orion.data import load_signal, load_anomalies

In [ ]:
#specify which dataset you want to train on
dataset = "CWRU"

In [3]:
#specify train and test task
train_task = 0
test_task = 0
sample_freq = "12k"
fault_location = "DE"

In [4]:
#specify sensor
sensor = "DE"

In [5]:
#set path where all folders to run code are
base_path = "/home/lunet/cosoc/Desktop/orion_anomaly_pipeline"

In [6]:
#set experiment name
experiment = "CWRU_test"

In [7]:
#gets the data
def get_data(mode, fault_type=""):
    if mode == "train":
        task = "normal_" + str(train_task)
        path = os.path.join(base_path, "datasets", dataset, mode, task, sensor) + ".csv"
        data = pd.read_csv(path)
    
    elif mode == "test":
        if fault_type == "normal":
            task = "normal_" + str(train_task)
            path = os.path.join(base_path, "datasets", dataset, mode, task, sensor) + ".csv"
            data = pd.read_csv(path)
        else:
            fault = fault_type + "_" + test_task
            path = os.path.join(base_path, "datasets", dataset, mode, sample_freq, fault_location, fault, sensor) + ".csv"
            data = pd.read_csv(path)
    
    return data

In [8]:
#set the hyperparameters for training
hyperparameters = {
    "mlprimitives.custom.timeseries_preprocessing.time_segments_aggregate#1": {
        "time_column": "timestamp",
        "interval": 10,
        "method": "mean"
    },
    "mlprimitives.custom.timeseries_preprocessing.rolling_window_sequences#1": {
         "window_size": 100
     },
    "orion.primitives.tadgan.TadGAN#1": {
        "epochs": 50,
        "batch_size": 64
    },
    "orion.primitives.tadgan.score_anomalies#1": {
        "rec_error_type": "dtw",
        "comb": "mult"
    }
}

In [9]:
#gets the train data
train_data = get_data(mode="train")
train_data

        timestamp     value
0               0  0.053197
1               1  0.088662
2               2  0.099718
3               3  0.058621
4               4 -0.004590
...           ...       ...
146358     146358  0.052362
146359     146359  0.050276
146360     146360  0.076770
146361     146361  0.110983
146362     146362  0.087201

[146363 rows x 2 columns]

In [10]:
model = Orion(pipeline='tadgan',hyperparameters=hyperparameters)
model.fit(train_data)

2023-05-24 14:07:33.193459: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2023-05-24 14:07:38.862457: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcuda.so.1
2023-05-24 14:07:38.884929: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.885207: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1716] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2023-05-24 14:07:38.885224: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2023-05-24 14:07:38.886162: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.10
2023-05-24 14:07:38.887025: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcufft.so.10
2023-05-24 14:07:38.887183: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcurand.so.10
2023-05-24 14:07:38.888045: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcusolver.so.10
2023-05-24 14:07:38.888429: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcusparse.so.10
2023-05-24 14:07:38.890359: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudnn.so.7
2023-05-24 14:07:38.890438: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.890759: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.891012: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1858] Adding visible gpu devices: 0
2023-05-24 14:07:38.891348: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-24 14:07:38.917037: I tensorflow/core/platform/profile_utils/cpu_utils.cc:104] CPU Frequency: 3000000000 Hz
2023-05-24 14:07:38.917555: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x5965b90 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2023-05-24 14:07:38.917564: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
2023-05-24 14:07:38.991698: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.992031: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x589c7b0 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2023-05-24 14:07:38.992041: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 2080 Ti, Compute Capability 7.5
2023-05-24 14:07:38.992179: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.992436: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1716] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce RTX 2080 Ti computeCapability: 7.5
coreClock: 1.545GHz coreCount: 68 deviceMemorySize: 10.76GiB deviceMemoryBandwidth: 573.69GiB/s
2023-05-24 14:07:38.992468: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2023-05-24 14:07:38.992486: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.10
2023-05-24 14:07:38.992500: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcufft.so.10
2023-05-24 14:07:38.992513: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcurand.so.10
2023-05-24 14:07:38.992526: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcusolver.so.10
2023-05-24 14:07:38.992539: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcusparse.so.10
2023-05-24 14:07:38.992552: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudnn.so.7
2023-05-24 14:07:38.992589: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.992857: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:38.993140: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1858] Adding visible gpu devices: 0
2023-05-24 14:07:38.993177: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
2023-05-24 14:07:39.274021: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1257] Device interconnect StreamExecutor with strength 1 edge matrix:
2023-05-24 14:07:39.274042: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1263]      0
2023-05-24 14:07:39.274046: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1276] 0:   N
2023-05-24 14:07:39.274206: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:39.274524: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:982] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-05-24 14:07:39.274775: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1402] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 9861 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce RTX 2080 Ti, pci bus id: 0000:01:00.0, compute capability: 7.5)

WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_2 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_2 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_2 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU

2023-05-24 14:07:46.377248: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcublas.so.10
2023-05-24 14:07:46.515325: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudnn.so.7

Epoch: 1/50, Losses: {'cx_loss': -3.1772, 'cz_loss': -4.6185, 'eg_loss': 6.5}
Epoch: 2/50, Losses: {'cx_loss': -6.8175, 'cz_loss': 1.1689, 'eg_loss': -54.3469}
Epoch: 3/50, Losses: {'cx_loss': -1.7364, 'cz_loss': 1.8828, 'eg_loss': -60.127}
Epoch: 4/50, Losses: {'cx_loss': -0.6263, 'cz_loss': -0.509, 'eg_loss': -36.0898}
Epoch: 5/50, Losses: {'cx_loss': -0.6647, 'cz_loss': 1.2202, 'eg_loss': -37.2646}
Epoch: 6/50, Losses: {'cx_loss': -0.9847, 'cz_loss': 0.1252, 'eg_loss': -31.8388}
Epoch: 7/50, Losses: {'cx_loss': -0.9175, 'cz_loss': 0.3068, 'eg_loss': -36.0029}
Epoch: 8/50, Losses: {'cx_loss': -0.9217, 'cz_loss': 0.6784, 'eg_loss': -37.4567}
Epoch: 9/50, Losses: {'cx_loss': -0.9712, 'cz_loss': 1.3813, 'eg_loss': -30.1877}
Epoch: 10/50, Losses: {'cx_loss': -1.3612, 'cz_loss': -0.9499, 'eg_loss': -33.7814}
Epoch: 11/50, Losses: {'cx_loss': -1.2576, 'cz_loss': 2.5095, 'eg_loss': -42.2606}
Epoch: 12/50, Losses: {'cx_loss': -0.4273, 'cz_loss': 2.5992, 'eg_loss': -23.6395}
Epoch: 13/50, Losses: {'cx_loss': -1.3865, 'cz_loss': 2.0426, 'eg_loss': -28.3811}
Epoch: 14/50, Losses: {'cx_loss': -1.0717, 'cz_loss': 2.3154, 'eg_loss': -32.947}
Epoch: 15/50, Losses: {'cx_loss': -1.017, 'cz_loss': 0.7539, 'eg_loss': -48.9868}
Epoch: 16/50, Losses: {'cx_loss': -0.9648, 'cz_loss': 2.8274, 'eg_loss': -28.8946}
Epoch: 17/50, Losses: {'cx_loss': -1.0307, 'cz_loss': 0.2439, 'eg_loss': -50.2815}
Epoch: 18/50, Losses: {'cx_loss': -0.7469, 'cz_loss': 3.4498, 'eg_loss': -79.2663}
Epoch: 19/50, Losses: {'cx_loss': -0.5136, 'cz_loss': 0.4396, 'eg_loss': -42.0872}
Epoch: 20/50, Losses: {'cx_loss': -0.4609, 'cz_loss': 1.8548, 'eg_loss': -44.4517}
Epoch: 21/50, Losses: {'cx_loss': -0.4523, 'cz_loss': 2.2064, 'eg_loss': -33.0998}
Epoch: 22/50, Losses: {'cx_loss': -0.4241, 'cz_loss': 1.7478, 'eg_loss': -26.3424}
Epoch: 23/50, Losses: {'cx_loss': -0.4812, 'cz_loss': 2.3574, 'eg_loss': -27.2279}
Epoch: 24/50, Losses: {'cx_loss': -0.2188, 'cz_loss': 1.726, 'eg_loss': -25.4194}
Epoch: 25/50, Losses: {'cx_loss': -0.3779, 'cz_loss': 1.3973, 'eg_loss': -12.8454}
Epoch: 26/50, Losses: {'cx_loss': -0.5028, 'cz_loss': 1.0992, 'eg_loss': -10.5371}
Epoch: 27/50, Losses: {'cx_loss': -0.3758, 'cz_loss': 1.9237, 'eg_loss': -8.829}
Epoch: 28/50, Losses: {'cx_loss': -0.4055, 'cz_loss': 1.8274, 'eg_loss': -8.0673}
Epoch: 29/50, Losses: {'cx_loss': -0.3875, 'cz_loss': 1.187, 'eg_loss': -8.235}
Epoch: 30/50, Losses: {'cx_loss': -0.3673, 'cz_loss': 1.2987, 'eg_loss': -8.2619}
Epoch: 31/50, Losses: {'cx_loss': -0.3142, 'cz_loss': 0.8692, 'eg_loss': -7.2551}
Epoch: 32/50, Losses: {'cx_loss': -0.3438, 'cz_loss': 0.5677, 'eg_loss': -6.3976}
Epoch: 33/50, Losses: {'cx_loss': -0.3824, 'cz_loss': 0.4759, 'eg_loss': -7.7425}
Epoch: 34/50, Losses: {'cx_loss': -0.4065, 'cz_loss': 0.8153, 'eg_loss': -9.2123}
Epoch: 35/50, Losses: {'cx_loss': -0.3178, 'cz_loss': 0.2519, 'eg_loss': -8.2038}
Epoch: 36/50, Losses: {'cx_loss': -0.3594, 'cz_loss': 0.2676, 'eg_loss': -9.2186}
Epoch: 37/50, Losses: {'cx_loss': -0.3668, 'cz_loss': 0.7178, 'eg_loss': -7.7699}
Epoch: 38/50, Losses: {'cx_loss': -0.3449, 'cz_loss': 0.8081, 'eg_loss': -6.6571}
Epoch: 39/50, Losses: {'cx_loss': -0.3996, 'cz_loss': 0.4359, 'eg_loss': -2.4208}
Epoch: 40/50, Losses: {'cx_loss': -0.3804, 'cz_loss': -0.1595, 'eg_loss': -3.0718}
Epoch: 41/50, Losses: {'cx_loss': -0.4054, 'cz_loss': 0.8722, 'eg_loss': -5.5932}
Epoch: 42/50, Losses: {'cx_loss': -0.3503, 'cz_loss': 0.2213, 'eg_loss': -5.8342}
Epoch: 43/50, Losses: {'cx_loss': -0.4045, 'cz_loss': 0.572, 'eg_loss': -4.2862}
Epoch: 44/50, Losses: {'cx_loss': -0.4012, 'cz_loss': 1.0662, 'eg_loss': -7.2657}
Epoch: 45/50, Losses: {'cx_loss': -0.4152, 'cz_loss': 0.2942, 'eg_loss': -4.7653}
Epoch: 46/50, Losses: {'cx_loss': -0.4164, 'cz_loss': 0.4743, 'eg_loss': -1.6459}
Epoch: 47/50, Losses: {'cx_loss': -0.3439, 'cz_loss': 0.7541, 'eg_loss': -5.6046}
Epoch: 48/50, Losses: {'cx_loss': -0.3949, 'cz_loss': 0.556, 'eg_loss': -2.9883}
Epoch: 49/50, Losses: {'cx_loss': -0.3058, 'cz_loss': 2.2021, 'eg_loss': -5.9941}
Epoch: 50/50, Losses: {'cx_loss': -0.3949, 'cz_loss': 0.6574, 'eg_loss': -3.0099}

In [11]:
file_labels = pd.read_csv(os.path.join(base_path, "datasets_unprocessed", dataset, "labels.csv"))

In [12]:
unfiltered_files = file_labels.loc[(file_labels["motor_load"] == test_task) & (file_labels["sample_freq"] == int(sample_freq[0:2]))]                                                  
test_files = unfiltered_files.loc[(unfiltered_files["fault_location"] == fault_location) | (unfiltered_files["fault"] == "normal")]

In [13]:
test_files

,file_name,label,fault_location,fault_diameter,motor_load,rpm,sample_freq,fault
0,97,normal_0,NaN,NaN,0,1797,12,normal
4,105,IR007_0,DE,0.007,0,1797,12,IR
8,169,IR014_0,DE,0.014,0,1797,12,IR
12,209,IR021_0,DE,0.021,0,1797,12,IR
16,3001,IR028_0,DE,0.028,0,1797,12,IR
20,118,B007_0,DE,0.007,0,1797,12,B
24,185,B014_0,DE,0.014,0,1797,12,B
28,222,B021_0,DE,0.021,0,1797,12,B
32,3005,B028_0,DE,0.028,0,1797,12,B
36,130,OR007@6_0,DE,0.007,0,1797,12,OR
40,197,OR014@6_0,DE,0.014,0,1797,12,OR
44,234,OR021@6_0,DE,0.021,0,1797,12,OR
48,144,OR007@3_0,DE,0.007,0,1797,12,OR
52,246,OR021@3_0,DE,0.021,0,1797,12,OR
56,156,OR007@12_0,DE,0.007,0,1797,12,OR
60,258,OR021@12_0,DE,0.021,0,1797,12,OR

In [20]:
import orion.evaluation
test_data = pd.read_csv("/home/lunet/cosoc/Desktop/orion_anomaly_pipeline/datasets/CWRU/test/normal_0/DE.csv")
test_data

       timestamp     value
0         146363  0.056118
1         146364  0.047564
2         146365  0.065922
3         146366  0.100970
4         146367  0.094503
...          ...       ...
97570     243933 -0.059664
97571     243934 -0.063836
97572     243935 -0.034630
97573     243936  0.016689
97574     243937  0.046938

[97575 rows x 2 columns]

In [15]:
detected_anomalies = model.detect(test_data)

In [16]:
detected_anomalies

    start     end  severity
0   56410   57500  0.094772
1   83310   84890  0.240467
2  111750  113100  0.310292

In [ ]:
b = list(range(0,len(test_data), 10000))
b

In [ ]:
for i in list(range(0,len(test_data), 1000))[0:-1]:
    start = i
    end = i + 1000
    sequence = test_data[start:end]

In [ ]:
import orion.evaluation
start = []
end = []
severity = []
key = []
n = 0

In [21]:

for i in list(range(0,len(test_data), 10000))[0:-1]:
    start = i
    end = i + 10000
    sequence = test_data[start:end] 
    detected_anomalies = model.detect(sequence)
    print(detected_anomalies)

    start     end  severity
0  150533  151593  0.281156
    start     end  severity
0  161213  162253  0.086102
    start     end  severity
0  166363  167093  0.051041
    start     end  severity
0  182433  183463  0.105880
1  184063  185113  0.265870
2  185643  186343  0.066751
    start     end  severity
0  190473  190973  0.097064
    start     end  severity
0  196953  197973  0.039626
1  199623  200663  0.092220
2  202943  203983  0.226080
    start     end  severity
0  209223  210263  0.142481
1  212303  213463  0.077804
    start     end  severity
0  217783  218813  0.210077
1  222223  223273  0.124576
2  223753  224603  0.258116
    start     end  severity
0  229013  230053  0.131380
1  232213  233233  0.063281
2  234903  235933  0.083730

In [ ]:
start = []
end = []
severity = []
key = []
start.append(2)
start.append(3)

In [ ]:
for index, row in detected_anomalies.iterrows():
    start.append(row["start"])
    end.append(row["end"])
    severity.append(row["severity"])
    key = n

In [ ]:
dict = {"start": [], "end": [], "severity": [], "key": []}
df = pd.DataFrame(dict)
new_df = df.append(df2)
new_df

In [ ]:
for index, row in test_files.iterrows():
    test_data = get_data(mode="test", fault_type=row["fault"])

In [ ]:
detected_anomalies = model.detect(test_data)