In [1]:
from scipy.io import loadmat
import numpy as np
import pandas as pd
import os
import math

In [ ]:
base_path = r'/home/lunet/cosoc/Desktop/orion_anomaly_pipeline'
dataset = "CWRU"
split = 0.6

In [ ]:
file_labels = pd.read_csv(os.path.join(base_path, "datasets_unprocessed", dataset, "labels.csv"))

In [ ]:
def mk_dir(path):
    try:
        os.makedirs(path)
    except FileExistsError:
        # directory already exists
        pass

In [ ]:
# Process normal data for train test

In [ ]:
normal_data = file_labels.loc[file_labels["fault"] == "normal"]

In [ ]:
for index, row in normal_data.iterrows():
    new_dir_train = os.path.join(base_path, "datasets", dataset, "train", row["label"])
    new_dir_test = os.path.join(base_path, "datasets", dataset, "test", row["label"])
    mk_dir(new_dir_train)
    mk_dir(new_dir_test)
    matfile = loadmat(os.path.join(base_path, "datasets_unprocessed", dataset, str(row["file_name"]) + ".mat"))
    for i in matfile.keys():
        if "DE" in i.split("_"):
            file_name = "DE.csv"
            data = matfile.get(i)
            index_split = math.ceil((len(data))*split)
            train_data = pd.DataFrame({"timestamp": list(range(0,index_split,1)) , "value": list(data[0:index_split].flatten())})
            test_data = pd.DataFrame({"timestamp": list(range(index_split, len(data), 1)) , "value": list(data[index_split:].flatten())})
            train_data.to_csv(path_or_buf= os.path.join(new_dir_train, file_name), index=False)
            test_data.to_csv(path_or_buf=os.path.join(new_dir_test, file_name), index=False)
            
        elif "FE" in i.split("_"):
            file_name = "FE.csv"
            data = matfile.get(i)
            index_split = math.ceil((len(data))*split)
            train_data = pd.DataFrame({"timestamp": list(range(0,index_split,1)) , "value": list(data[0:index_split].flatten())})
            test_data = pd.DataFrame({"timestamp": list(range(index_split, len(data), 1)) , "value": list(data[index_split:].flatten())})
            train_data.to_csv(path_or_buf= os.path.join(new_dir_train, file_name), index=False)
            test_data.to_csv(path_or_buf=os.path.join(new_dir_test, file_name), index=False)        
        
        elif "BA" in i.split("_"):
            file_name = "BA.csv"
            data = matfile.get(i)
            index_split = math.ceil((len(data))*split)
            train_data = pd.DataFrame({"timestamp": list(range(0,index_split,1)) , "value": list(data[0:index_split].flatten())})
            test_data = pd.DataFrame({"timestamp": list(range(index_split, len(data), 1)) , "value": list(data[index_split:].flatten())})
            train_data.to_csv(path_or_buf= os.path.join(new_dir_train, file_name), index=False)
            test_data.to_csv(path_or_buf=os.path.join(new_dir_test, file_name), index=False)

In [ ]:
### Process fault data ###

In [ ]:
# creating 12k and 48k sample freq folder
hfreq_path = os.path.join(base_path, "datasets", dataset, "test", "48k")
lfreq_path = os.path.join(base_path, "datasets", dataset, "test", "12k")
mk_dir(hfreq_path)
mk_dir(lfreq_path)

In [ ]:
fault_data = file_labels.loc[file_labels["fault"] != "normal"]

In [ ]:
for index, row in fault_data.iterrows():
    if row["sample_freq"] == 12 and row["fault_location"] == "DE":
        directory = os.path.join(lfreq_path, "DE")
        
    elif row["sample_freq"] == 12 and row["fault_location"] == "FE":
        directory = os.path.join(lfreq_path, "FE")
            
    elif row["sample_freq"] == 48:
        directory = os.path.join(hfreq_path, "DE")
    
    else:
        print(row)
    
    matfile = loadmat(os.path.join(base_path, "datasets_unprocessed", dataset, str(row["file_name"]) + ".mat"))
    
    for i in matfile.keys():
        if "DE" in i.split("_"):
            file_name = "DE.csv"
            save_path = os.path.join(directory, row["label"])
            mk_dir(save_path)
            data = matfile.get(i)
            df = pd.DataFrame({"timestamp": list(range(0, len(data), 1)) , "value": list(data.flatten())})
            df.to_csv(path_or_buf=os.path.join(save_path, file_name), index=False)   
            
        elif "FE" in i.split("_"):
            file_name = "FE.csv"
            save_path = os.path.join(directory, row["label"])
            mk_dir(save_path)
            data = matfile.get(i)
            df = pd.DataFrame({"timestamp": list(range(0, len(data), 1)) , "value": list(data.flatten())})
            df.to_csv(path_or_buf=os.path.join(save_path, file_name), index=False)
            
        elif "BA" in i.split("_"):
            file_name = "BA.csv"
            save_path = os.path.join(directory, row["label"])
            mk_dir(save_path)
            data = matfile.get(i)
            df = pd.DataFrame({"timestamp": list(range(0, len(data), 1)) , "value": list(data.flatten())})
            df.to_csv(path_or_buf=os.path.join(save_path, file_name), index=False)

In [2]:
path_to_dataset = "/home/lunet/cosoc/Desktop/orion_anomaly_pipeline/datasets_unprocessed/PU/"

In [5]:
matfile = loadmat(os.path.join(path_to_dataset, "KA08", "N15_M01_F10_KA08_2.mat"))

In [6]:
data = matfile["N15_M01_F10_KA08_2"][0][0]["Y"]["Data"][0][-1][0]
data.size

256000

In [7]:
split = 0.6
index_split = math.ceil((data.size) * split)
index_split

153600

In [8]:
train_data = pd.DataFrame({"timestamp": list(range(0, data.size)) , "value": list(data[:].flatten())})

In [9]:
train_data = pd.DataFrame(
    {"timestamp": list(range(0, index_split)), "value": list(data[0:index_split].flatten())})

In [28]:
a = list(data[0:index_split].flatten())

In [29]:
b = list(range(0, index_split))

In [10]:
train_data

        timestamp     value
0               0 -0.619507
1               1  0.170898
2               2  0.082397
3               3  0.042725
4               4 -0.021362
...           ...       ...
153595     153595 -0.006104
153596     153596 -0.048828
153597     153597 -0.097656
153598     153598  0.006104
153599     153599 -0.027466

[153600 rows x 2 columns]

In [31]:
len(b)

153601

In [32]:
data[0]

-0.0488281249677312

In [14]:
labels = pd.read_csv("/home/lunet/cosoc/Desktop/orion_anomaly_pipeline/datasets_unprocessed/PU/labels.csv")
normal_name = "normal_" + str(0)
test_list = labels.loc[labels["label"] == normal_name]

In [16]:
test_list

,file_name,label,fault_location,fault_diameter,motor_load,rpm,sample_freq,fault
0,N15_M07_F10_K001_1,normal_0,NaN,NaN,0,1500,64,normal
1,N15_M07_F10_K001_2,normal_0,NaN,NaN,0,1500,64,normal
2,N15_M07_F10_K001_3,normal_0,NaN,NaN,0,1500,64,normal
3,N15_M07_F10_K001_4,normal_0,NaN,NaN,0,1500,64,normal
4,N15_M07_F10_K001_5,normal_0,NaN,NaN,0,1500,64,normal
...,...,...,...,...,...,...,...,...
415,N15_M07_F10_K006_16,normal_0,NaN,NaN,0,1500,64,normal
416,N15_M07_F10_K006_17,normal_0,NaN,NaN,0,1500,64,normal
417,N15_M07_F10_K006_18,normal_0,NaN,NaN,0,1500,64,normal
418,N15_M07_F10_K006_19,normal_0,NaN,NaN,0,1500,64,normal
419,N15_M07_F10_K006_20,normal_0,NaN,NaN,0,1500,64,normal

In [47]:
new_df.size

307202